@import '../../scss/variables';

.icon_container{

    display: flex;
    width: 8.5vw;
    justify-content: center;
    justify-items: center;
    padding: 0;
    margin: auto;
    // margin-top: 0;

    @media screen and (max-width: $mid-screen){

        width: 18vw;  
    }

    @media screen and (max-width: $phone){

        width: 30vw;    
    }
}